name: hotelyn

on: [pull_request, push]

jobs:
  steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v3
      with:
        distribution: "zulu"
        java-version: "11"
    - uses: subosito/flutter-action@v2
      with:
        flutter-version: "3.10.6"
    - run: flutter pub get
    - run: flutter test
